<div class="columns is-centered">
  <div class="column is-half">

    <div class="box">
      <h1 class="subtitle">New App</h1>

      <article class="message is-info">
        <div class="message-body">
          To create and deploy new app, attach a .zip file containing your app&rsquo;s
          source code and click create &ndash; we&rsquo;ll take care of the
          rest. Be sure that your zip file does not nest your app files 
          in an extra directory.
        </div>
      </article>

      <form method="POST" action="/apps" enctype="multipart/form-data">
        <div class="field">
          <label class="label">Name</label>

          <div class="control">
            <input class="input" type="text" name="title" />
          </div>
        </div>

        <div class="field">
          <div id="file-js-example" class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="file">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                No file uploaded
              </span>
            </label>
          </div>
        </div>

        <div class="field is-grouped">
          <p class="control">
            <button type="submit" class="button is-link">Create</button>
          </p>
          <p class="control">
            <a class="button" href="/apps">Cancel</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const fileInput = document.querySelector('#file-js-example input[type=file]');
  fileInput.onchange = () => {
   if (fileInput.files.length > 0) {
     const fileName = document.querySelector('#file-js-example .file-name');
     fileName.textContent = fileInput.files[0].name;
   }
  }
</script>
