<div class="columns">
  <div class="column is-half">

    <div class="box">
      <h1 class="subtitle">Create App</h1>

      {{#if errors}}
        <article class="message is-danger">
          <div class="message-body">
            <ul>
              {{#each errors}}
                <li>{{this.message}}</li>
              {{/each}}
            </ul>
          </div>
        </article>
      {{/if}}

      <form method="POST" action="/apps">
        <div class="field">
          <label class="label">Name</label>

          <div class="control">
            <input class="input" type="text" name="title" placeholder="my-new-app" />
          </div>
          <p class="help">Please only use lowercase letters, numbers, and dashes.</p>
        </div>

        <hr/>

        <div class="field is-grouped">
          <p class="control">
            <button type="submit" class="button is-link">Create</button>
          </p>
          <p class="control">
            <a class="button" href="/apps">Cancel</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
