<h1 class="title">Welcome to Terminal</h1>

<div id="terminal"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/fit/fit.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/attach/attach.js" integrity="sha256-5bwn4N3wNwa0EPpTwE8fJlb6yXRD6MH7r+H86hfFmI8=" crossorigin="anonymous"></script>
<script>
  (() => {
    Terminal.applyAddon(attach);
    Terminal.applyAddon(fit);

    document.addEventListener('DOMContentLoaded', function() {
      const websocket = new WebSocket(
        'ws://localhost:3000/terminal'
      );

      const term = new Terminal({ cursorBlink: true });

      websocket.onopen = () => {
        console.log('Connected to test');
      };
      websocket.onerror = (event) => console.log(event.data);
      websocket.onclose = () => console.log('Disconnected from test');
      websocket.onmessage = (event) => {
        event.data.text()
          .then((text) => {
            if (text === 'container ready') {
              term.open(document.getElementById('terminal'));
              term.focus();
              term.on('data', data => {
                websocket.send(data);
              });
            } else {
              term.write(text);
            }
          })
          .catch(console.log);
      }
    });
  })();
</script>