<div class="columns">
  <div class="column is-half">

    <div class="box">
      <h1 class="subtitle">Update App</h1>

      {{#if errors}}
        <article class="message is-danger">
          <div class="message-body">
            <ul>
              {{#each errors}}
                <li>{{this.message}}</li>
              {{/each}}
            </ul>
          </div>
        </article>
      {{else}}
        <article class="message is-info">
          <div class="message-body">
            To update your application, attach a .zip file containing your app's source code and click update. We'll take care of the rest.
          </div>
        </article>
      {{/if}}

      <form method="POST" action="/apps/update/{{app.id}}" enctype="multipart/form-data">
        <div class="field">
          <label class="label">Application File</label>
          <div id="file-js-example" class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="file">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                No file uploaded
              </span>
            </label>
          </div>
        </div>

        <hr/>

        <div class="field is-grouped">
          <p class="control">
            <button type="submit" class="button is-link">Update</button>
          </p>
          <p class="control">
            <a class="button" href="/apps">Cancel</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const fileInput = document.querySelector('#file-js-example input[type=file]');
  fileInput.onchange = () => {
   if (fileInput.files.length > 0) {
     const fileName = document.querySelector('#file-js-example .file-name');
     fileName.textContent = fileInput.files[0].name;
   }
  }
</script>
