<div class="loading-wrapper">
<svg id="mothership" width="576px" height="325px" viewBox="0 0 576 325" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Group" fill="currentColor">
          <g id="logo-flat" fill-rule="nonzero">
              <circle fill="#EFAFCD" class="exhaust exhaust-1a" cx="225" cy="302" r="3"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3a" cx="230" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1b" cx="235" cy="302" r="12"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2b" cx="240" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2a" cx="245" cy="302" r="7"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3a" cx="250" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1b" cx="255" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2b" cx="260" cy="302" r="4"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2a" cx="265" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1a" cx="270" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1b" cx="275" cy="302" r="2"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2b" cx="280" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2a" cx="285" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3a" cx="290" cy="302" r="6"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1b" cx="295" cy="302" r="17"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2b" cx="300" cy="302" r="10"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2a" cx="305" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3a" cx="310" cy="302" r="8"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3b" cx="315" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3b" cx="227" cy="302" r="2"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2a" cx="232" cy="302" r="10"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1b" cx="237" cy="302" r="9"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3a" cx="242" cy="302" r="8"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2b" cx="247" cy="302" r="4"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1a" cx="252" cy="302" r="16"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3a" cx="257" cy="302" r="4"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2a" cx="262" cy="302" r="5"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1b" cx="267" cy="302" r="7"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3b" cx="272" cy="302" r="9"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2b" cx="277" cy="302" r="10"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1a" cx="282" cy="302" r="11"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3a" cx="287" cy="302" r="15"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1b" cx="292" cy="302" r="7"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2b" cx="302" cy="302" r="9"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1a" cx="307" cy="302" r="8"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-3b" cx="312" cy="302" r="3"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-1b" cx="317" cy="302" r="12"></circle>
              <circle fill="#EFAFCD" class="exhaust exhaust-2a" cx="320" cy="302" r="6"></circle>
              <path d="M226.394664,10.5119997 C266.034663,-3.50399991 309.566662,-3.50399991 349.206661,10.5119997 C460.385324,49.8213321 468.601324,171.053329 468.601324,171.053329 C407.535992,168.489329 347.849327,167.235996 287.801329,167.277329 C227.75333,167.235996 168.065332,168.489329 107,171.053329 C107,171.053329 115.214666,49.8213321 226.394664,10.5119997 Z M164,146.223997 C165.165333,146.12533 166.310667,146.030664 167.465333,145.935997 L167.428,146.223997 L167.656,145.918664 C184.139999,144.551997 199.517332,143.430664 214.165332,142.561331 C214.165332,142.561331 212.537332,129.314664 221.329332,113.446665 C232.407998,93.4546651 265.941331,92.5973318 272.983997,117.046665 L281.346664,145.269331 L294.906663,145.269331 L303.267997,117.046665 C309.52133,95.4333317 343.845329,93.4559985 354.922662,113.446665 C363.714662,129.314664 362.086662,142.561331 362.086662,142.561331 C373.270661,143.225331 384.881328,144.035997 397.079994,144.990664 C400.875994,145.458664 411.08666,146.12533 412.251994,146.223997 C406.385327,106.886665 393.738661,88.8839986 393.738661,88.8839986 C393.653328,88.7386652 393.575994,88.5879986 393.489328,88.4426653 C393.011994,87.6319986 392.503994,86.8386653 392.002661,86.0399986 C391.655994,85.489332 391.321328,84.9319987 390.965328,84.3866654 C390.523994,83.713332 390.059994,83.0546654 389.601328,82.3919987 C389.153328,81.7413321 388.710661,81.0853321 388.247994,80.4453321 C387.813328,79.8466655 387.361328,79.2586655 386.915994,78.6679988 C386.395994,77.9813322 385.877328,77.2959989 385.341328,76.6213322 C384.905328,76.0719989 384.453328,75.5319989 384.005328,74.9906656 C383.429328,74.2973323 382.851995,73.6053323 382.258661,72.923999 C381.809328,72.411999 381.353328,71.9053323 380.894661,71.399999 C380.271995,70.7133324 379.645328,70.031999 379.005328,69.3626657 C378.541328,68.8746657 378.071995,68.3946658 377.597328,67.9173324 C376.935995,67.2479991 376.266661,66.5866658 375.586661,65.9333325 C375.103995,65.4719992 374.619995,65.0119992 374.129328,64.5573325 C373.433328,63.9133325 372.727995,63.2786659 372.014661,62.6493326 C371.510661,62.2066659 371.005328,61.7626659 370.493328,61.3279993 C369.770662,60.7146659 369.035995,60.114666 368.298662,59.518666 C367.767995,59.0879993 367.239995,58.658666 366.699995,58.2399993 C365.958662,57.6599994 365.199995,57.0973327 364.441328,56.5359994 C363.882662,56.1213327 363.327995,55.7026661 362.759995,55.2986661 C362.005328,54.7586661 361.234662,54.2399994 360.465328,53.7173328 C359.869328,53.3133328 359.282662,52.9039995 358.679995,52.5093328 C357.923995,52.0186662 357.153329,51.5466662 356.385329,51.0706662 C355.746662,50.6733329 355.115995,50.2666662 354.467995,49.8799996 C353.470662,49.2879996 352.435995,48.7399996 351.438662,48.1466663 C350.081329,47.3373329 348.645329,46.637333 347.223995,45.917333 C346.787995,45.6959997 346.361329,45.4626663 345.923995,45.2479997 C344.994662,44.789333 344.045329,44.3599997 343.101329,43.9226664 C342.535996,43.6626664 341.978662,43.3919997 341.409329,43.1399997 C340.478662,42.7266664 339.533329,42.3386664 338.589329,41.9479998 C337.987996,41.6973331 337.391996,41.4413331 336.785329,41.1999998 C335.847996,40.8279998 334.898662,40.4773331 333.949329,40.1279998 C333.317329,39.8946665 332.687996,39.6559998 332.050662,39.4319998 C331.106662,39.0999998 330.154663,38.7879998 329.199996,38.4759998 C328.537329,38.2599998 327.875996,38.0453332 327.209329,37.8399999 C326.265329,37.5493332 325.314663,37.2733332 324.361329,37.0039999 C323.661329,36.8066665 322.961329,36.6119999 322.257329,36.4253332 C321.318663,36.1773332 320.375996,35.9399999 319.427996,35.7106666 C318.687996,35.5319999 317.942663,35.3626666 317.195996,35.1959999 C316.271996,34.9893333 315.346663,34.7906666 314.415996,34.6039999 C313.619996,34.4453333 312.819996,34.2986666 312.019996,34.1533333 C311.119996,33.9906666 310.219996,33.8293333 309.31333,33.6853333 C308.45333,33.548 307.586663,33.428 306.72133,33.3066666 C305.859996,33.188 304.99733,33.064 304.12933,32.96 C303.17733,32.8466666 302.21733,32.756 301.259997,32.6626667 C300.463997,32.5853333 299.670663,32.4973333 298.86933,32.4333333 C297.74933,32.3453333 296.619997,32.2853333 295.490663,32.224 C294.838663,32.1893333 294.190663,32.1386667 293.534663,32.112 C291.74133,32.04 289.93733,32 288.126664,32 C286.314664,32 284.511997,32.04 282.71733,32.112 C282.062664,32.1386667 281.414664,32.1893333 280.76133,32.224 C279.63333,32.2853333 278.503997,32.3453333 277.382664,32.4333333 C276.582664,32.4973333 275.789331,32.5853333 274.991997,32.6626667 C274.033331,32.756 273.075997,32.8466666 272.123997,32.96 C271.254664,33.064 270.393331,33.188 269.529331,33.3066666 C268.665331,33.428 267.799997,33.548 266.938664,33.6853333 C266.031997,33.8293333 265.133331,33.9906666 264.233331,34.1533333 C263.431998,34.2986666 262.633331,34.4453333 261.837331,34.6039999 C260.905331,34.7906666 259.978664,34.9893333 259.055998,35.1959999 C258.307998,35.3626666 257.565331,35.5319999 256.822664,35.7106666 C255.875998,35.9399999 254.933331,36.1773332 253.994664,36.4253332 C253.290664,36.6119999 252.590664,36.8066665 251.891998,37.0039999 C250.937331,37.2733332 249.986665,37.5493332 249.042665,37.8399999 C248.375998,38.0453332 247.714665,38.2599998 247.051998,38.4759998 C246.097331,38.7879998 245.143998,39.0999998 244.201331,39.4319998 C243.565331,39.6559998 242.934665,39.8946665 242.303998,40.1279998 C241.354665,40.4773331 240.405331,40.8279998 239.467998,41.1999998 C238.861331,41.4413331 238.263998,41.6973331 237.662665,41.9479998 C236.718665,42.3386664 235.773332,42.7266664 234.842665,43.1399997 C234.273332,43.3919997 233.715998,43.6626664 233.150665,43.9226664 C232.206665,44.3599997 231.257332,44.789333 230.327998,45.2479997 C229.891998,45.461333 229.469332,45.6946663 229.035998,45.913333 C227.611998,46.6346663 226.175998,47.3359996 224.814665,48.1453329 C223.815999,48.7399996 222.782665,49.2866662 221.785332,49.8799996 C221.137332,50.2666662 220.506665,50.6733329 219.866665,51.0706662 C219.098665,51.5466662 218.327999,52.0186662 217.573332,52.5093328 C216.970665,52.9039995 216.382665,53.3133328 215.787999,53.7173328 C215.018665,54.2399994 214.247999,54.7586661 213.491999,55.2986661 C212.923999,55.7026661 212.369332,56.1213327 211.809332,56.5359994 C211.051999,57.0973327 210.294666,57.6599994 209.551999,58.2399993 C209.013332,58.658666 208.483999,59.0879993 207.954666,59.518666 C207.215999,60.114666 206.481332,60.7146659 205.758666,61.3279993 C205.247999,61.7626659 204.742666,62.2066659 204.238666,62.6493326 C203.525332,63.2786659 202.818666,63.9133325 202.123999,64.5573325 C201.633332,65.0119992 201.146666,65.4719992 200.665332,65.9333325 C199.985332,66.5866658 199.315999,67.2479991 198.653332,67.9173324 C198.181332,68.3946658 197.710666,68.8746657 197.247999,69.3626657 C196.606666,70.031999 195.979999,70.7133324 195.358666,71.399999 C194.899999,71.9053323 194.441333,72.411999 193.993333,72.923999 C193.399999,73.6053323 192.821333,74.2973323 192.247999,74.9906656 C191.798666,75.5319989 191.347999,76.0719989 190.910666,76.6213322 C190.374666,77.2959989 189.857333,77.9813322 189.337333,78.6679988 C188.890666,79.2586655 188.438666,79.8466655 188.005333,80.4453321 C187.541333,81.0853321 187.098666,81.7413321 186.650666,82.3919987 C186.193333,83.0546654 185.727999,83.713332 185.286666,84.3866654 C184.930666,84.9319987 184.595999,85.489332 184.250666,86.0399986 C183.749333,86.8386653 183.241333,87.6319986 182.761333,88.4426653 C182.676,88.5879986 182.598666,88.7386652 182.514666,88.8839986 C180.369333,92.5626652 178.469333,96.3719984 176.817333,100.298665 C176.754666,100.446665 176.686666,100.591998 176.624,100.741332 C176.164,101.849332 175.741333,102.973332 175.322666,104.098665 C175.322666,104.098665 167.952,120.591998 164,146.223997 Z" id="Combined-Shape"></path>
              <path  d="M0,210.365 C191.721329,200.545 384.173324,200.545 575.895986,210.365 L519.967987,261.774332 C509.115987,271.748998 491.997321,277.103665 474.433321,276.055665 C350.323991,268.646332 225.571994,268.646332 101.461331,276.055665 C83.8973312,277.103665 66.778665,271.748998 55.9266653,261.774332 L0,210.365 Z M288.668384,261.680261 C289.629718,261.661594 290.391051,260.785594 290.371051,259.721594 L289.479051,212.892262 C289.459051,211.828262 288.664384,210.982929 287.703051,211.000262 C286.743051,211.018929 285.980385,211.894929 286.000385,212.958928 L286.892385,259.788261 C286.913718,260.852261 287.707051,261.698927 288.668384,261.680261 Z M242.280272,259.651237 C242.416272,259.648571 242.550938,259.628571 242.688272,259.591238 C243.617605,259.325904 244.172272,258.284571 243.928272,257.263238 L233.422939,213.425905 C233.176272,212.404572 232.225605,211.804572 231.297605,212.057905 C230.366939,212.323239 229.813605,213.364572 230.057605,214.385905 L240.561605,258.223238 C240.772272,259.092571 241.494938,259.667237 242.280272,259.651237 Z M196.312471,261.016658 C196.447138,260.988658 196.575138,260.945991 196.704471,260.883324 C197.569804,260.456658 197.929804,259.331324 197.507138,258.372658 L179.317805,217.125992 C178.892471,216.164659 177.848471,215.744659 176.980472,216.159325 C176.113805,216.588659 175.755138,217.711325 176.176472,218.672659 L194.367138,259.919324 C194.729804,260.736658 195.544471,261.171324 196.312471,261.016658 Z M148.650648,259.326699 C148.779982,259.284032 148.902648,259.225365 149.022648,259.146699 C149.830648,258.613365 150.045315,257.436032 149.503982,256.514699 L126.225316,216.957366 C125.679982,216.036033 124.590649,215.733367 123.779982,216.253366 C122.971982,216.788033 122.757316,217.965366 123.298649,218.8867 L146.577315,258.444032 C147.042648,259.229365 147.905315,259.573365 148.650648,259.326699 Z M95.969949,259.759448 C96.0926157,259.699448 96.2072823,259.624782 96.3152823,259.532782 C97.0446156,258.896782 97.1006156,257.700782 96.441949,256.859448 L68.103283,220.752783 C67.4419497,219.912783 66.3206164,219.756783 65.5872831,220.380783 C64.8566164,221.016783 64.8006164,222.212783 65.4592831,223.054116 L93.797949,259.160782 C94.361949,259.876782 95.2646157,260.103448 95.969949,259.759448 Z M332.705525,259.651237 C333.490858,259.667237 334.213525,259.092571 334.422858,258.223238 L344.928191,214.385905 C345.172191,213.364572 344.617525,212.323239 343.686858,212.057905 C342.760191,211.804572 341.808191,212.404572 341.561525,213.425905 L331.057525,257.263238 C330.813525,258.284571 331.368192,259.325904 332.296192,259.591238 C332.434858,259.628571 332.569525,259.648571 332.705525,259.651237 Z M379.371138,261.016658 C380.140471,261.171324 380.953805,260.736658 381.317805,259.919324 L399.507138,218.672659 C399.929804,217.711325 399.569804,216.588659 398.704471,216.159325 C397.836471,215.744659 396.792471,216.164659 396.367138,217.125992 L378.176472,258.372658 C377.755138,259.331324 378.113805,260.456658 378.980472,260.883324 C379.108472,260.945991 379.237805,260.988658 379.371138,261.016658 Z M427.152311,259.326699 C427.897645,259.573365 428.760311,259.229365 429.224311,258.444032 L452.504311,218.8867 C453.045644,217.965366 452.830977,216.788033 452.021644,216.253366 C451.212311,215.733367 450.122977,216.036033 449.577644,216.957366 L426.297645,256.514699 C425.757645,257.436032 425.972311,258.613365 426.780311,259.146699 C426.898978,259.225365 427.021645,259.284032 427.152311,259.326699 Z M479.931419,259.759448 C480.636752,260.103448 481.538086,259.876782 482.103419,259.160782 L510.440751,223.054116 C511.099418,222.212783 511.043418,221.016783 510.314085,220.380783 C509.580751,219.756783 508.459418,219.912783 507.796752,220.752783 L479.459419,256.859448 C478.800752,257.700782 478.856752,258.896782 479.586086,259.532782 C479.694086,259.624782 479.808752,259.699448 479.931419,259.759448 Z" id="Combined-Shape"></path>
              <path d="M574.057319,173 C383.929324,185.164 191.121329,185.164 1,173 C4.64133324,184.845333 19.5013329,193.689333 37.5066658,194.726666 C207.807995,204.542666 367.251991,204.542666 537.550653,194.726666 C555.555986,193.689333 570.414652,184.845333 574.057319,173" id="path30-copy-28" transform="translate(287.528660, 187.544333) scale(-1, 1) rotate(-180.000000) translate(-287.528660, -187.544333) "></path>
              <path d="M402.947994,321.702666 C364.655995,323.346666 326.311996,324.169332 287.970664,324.169332 C249.629331,324.169332 211.289332,323.346666 173,321.703999 C188.532,298.176 223.346665,283 261.781331,283 L314.16533,283 C352.601329,283 387.417328,298.176 402.947994,321.702666" id="path34-copy-28" transform="translate(287.973997, 303.584666) scale(-1, 1) rotate(-180.000000) translate(-287.973997, -303.584666) "></path>
          </g>
      </g>
  </g>
</svg>
<span class="loading">Loading</span>
</div>

<style>
svg {
  width: 75px;
  overflow: visible;
}

#mothership {
  animation: bobbing 1s ease infinite;
  color: #D53A84;
  height: auto;
}

.loading-wrapper {
  text-align: center;
}

.loading {
  color: #D53A84;
  display: block;
  margin-top: 3.5rem;
  font-family: 'FUTURA';
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
}

@keyframes bobbing {
  0%   { transform: translate(0,0);    }
  50%  { transform: translate(0,20px); }
  100% { transform: translate(0,0);    }
}

.exhaust-1a {
  animation: exhaust-1 1s ease infinite;
}

.exhaust-1b {
  animation: exhaust-1 1s ease infinite;
    -webkit-animation-delay:  0.2s;
    -moz-animation-delay:     0.2s;
    -ms-animation-delay:      0.2s;
  	animation-delay:          0.2s;
}

@keyframes exhaust-1 {
  0% {
    transform: translate(0,0);
    opacity: 1;
  }
  50% {
    transform: translate(0,0);
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    transform: translate(0, 50px) scale(2);
    opacity: 0;
  }
}

.exhaust-2a {
  animation: exhaust-2 1s ease infinite;
}

.exhaust-2b {
  animation: exhaust-2 1s ease infinite;
    -webkit-animation-delay:  0.2s;
    -moz-animation-delay:     0.2s;
    -ms-animation-delay:      0.2s;
  	animation-delay:          0.2s;
}

@keyframes exhaust-2 {
  0% {
    transform: translate(0,0);
    opacity: 1;
  }
  50% {
    transform: translate(0,0);
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    transform: translate(-450px, 50px) scale(2);
    opacity: 0;
  }
}

.exhaust-3a {
  animation: exhaust-3 1s ease infinite;
}

.exhaust-3b {
  animation: exhaust-3 1s ease infinite;
    -webkit-animation-delay:  0.2s;
    -moz-animation-delay:     0.2s;
    -ms-animation-delay:      0.2s;
  	animation-delay:            0.2s;
}

@keyframes exhaust-3 {
  50% {
    transform: translate(0,0);
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    transform: translate(-200px, 50px) scale(2);
    opacity: 0;
  }
}
</style>
