<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.css">
    <script
      src="https://kit.fontawesome.com/3340e5c3dd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="login">

    {{{body}}}

  </body>
</html>
