<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.css">
    <script
      src="https://kit.fontawesome.com/3340e5c3dd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    <nav class="main-nav">
      <div class="logo">
        <svg width="94px" height="60px" viewBox="0 0 94 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 55px;margin-right: 4px;height: auto;">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Artboard" transform="translate(-159.000000, -143.000000)">
                  <g id="Group-2" transform="translate(150.000000, 132.000000)">
                      <rect id="Rectangle" fill="#000000" transform="translate(63.912903, 57.421422) rotate(-20.000000) translate(-63.912903, -57.421422) " x="48.9129026" y="48.4214221" width="30" height="18" rx="3"></rect>
                      <path d="M19.1370421,52.5152713 C27.8021456,58.7437968 40.4349768,65.3848616 54.909334,65.3848616 C82.1649451,65.3848616 104.259983,54.1919803 104.259983,40.3848616 C104.259983,26.5777428 82.1649451,15.3848616 54.909334,15.3848616 C40.1646413,15.3848616 27.3309048,22.2763113 18.6556974,28.602962 L14.5899824,26.0618902 C13.1849642,25.1837538 12.0521912,25.817247 12.0521912,27.472042 L12.0521912,33.9247345 C8.76033015,36.8506404 6.9277803,38.9326968 6.9277803,38.9326968 C6.17164967,39.7347053 6.16294611,41.0407006 6.9277803,41.8370263 C6.9277803,41.8370263 8.76033015,43.9190827 12.0521912,46.8449886 L12.0521912,54.9368155 C12.0521912,56.0410489 12.8152002,56.4664225 13.7564196,55.8781604 L19.1370421,52.5152713 Z" id="Combined-Shape" fill="#000000" transform="translate(55.168184, 40.384862) rotate(-20.000000) translate(-55.168184, -40.384862) "></path>
                      <path d="M62.3063483,47.7767654 C86.5136344,47.7767654 104.207228,58.9520447 104.207228,58.9520447 C104.207228,46.6891432 84.5833451,37.7480973 60.376059,37.7480973 C36.1687728,37.7480973 23.7493253,49.7542369 23.7493253,49.7542369 C23.7493253,49.7542369 38.0990621,47.7767654 62.3063483,47.7767654 Z" id="Oval-2-Copy-2" fill="#404040" transform="translate(63.978277, 48.350071) scale(1, -1) rotate(20.000000) translate(-63.978277, -48.350071) "></path>
                      <path d="M55.1239252,28.0432204 C79.3312114,28.0432204 97.0248048,39.2184997 97.0248048,39.2184997 C97.0248048,26.9555981 77.4009221,18.0145523 53.1936359,18.0145523 C28.9863498,18.0145523 16.5669023,30.0206918 16.5669023,30.0206918 C16.5669023,30.0206918 30.9166391,28.0432204 55.1239252,28.0432204 Z" id="Oval-2" fill="#FFFFFF" transform="translate(56.795854, 28.616526) rotate(-20.000000) translate(-56.795854, -28.616526) "></path>
                  </g>
              </g>
          </g>
        </svg>
      </div>

        <ul>
          <li class="" style="">
            <a href="/dashboard">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
              <span>Dashboard</span>
            </a>
          </li>

          <li class="is-active" style="">
            <a href="/apps">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
              <span>Apps</span>
            </a>
          </li><li class="">
            <a href="/settings">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>
              <span>Settings</span>
            </a>
          </li>
          <li >
            {{#if userIsAdmin}}
              <a href="/users">
                <i class="fas fa-users"></i>&nbsp;
                Users
              </a>
            {{/if}}
          </li>
        </ul>

    </nav>

    <section class="section main-section">
      <div class="breadcrumb">
        <ul>
          <li><a href="/apps">Apps</a></li>
          {{#if app}}
            <li class="is-active"><a href="#" aria-current="page">{{app.title}}</a></li>
          {{/if}}
        </ul>
      </div>
      <div class="container">
          <div class="columns">
            <div class="column is-three-quarters">
              {{{body}}}
            </div>
          </div>

        </div>
    </section>

  </body>
</html>
