<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
    </style>
    <link href="https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.css">
  </head>
  <body>

    <nav class="main-nav">
      <a href="/apps" class="main-nav-logo">
        {{> logo }}
        <!-- <span class="main-nav-logo-text">Mothership</span> -->
      </a>
      <ul>
        <li class="{{#if activePage.apps}}is-active{{/if}}" style="">
          <a href="/apps">
            <i class="fa fa-cubes"></i>
            <span>Apps</span>
          </a>
        </li><li class="{{#if activePage.cluster}}is-active{{/if}}">
          <a href="/cluster">
            <i class="fa fa-server"></i>
            <span>Cluster</span>
          </a>
        </li>
        {{#if userIsAdmin}}
        <li class="{{#if activePage.users}}is-active{{/if}}">
          <a href="/users">
            <i class="fa fa-users"></i>Users
          </a>
        </li>
        {{/if}}

        <li class="log-out">
          <a href="/logout">
            <i class="fa fa-sign-out"></i> Logout
          </a>
        </li>
      </ul>
    </nav>

    <section class="section main-section">
      <div class="container">
          <div class="columns">
            <div class="column is-three-quarters">
              {{{body}}}
            </div>
          </div>
      </div>
    </section>

  </body>
</html>
