<div class="box">
  <h1 class="text-tight is-size-3 has-text-centered has-text-weight-xbold">Mothership</h1>
  <form action="/login" method="post">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" name="username" autofocus/>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="password"/>
      </div>
    </div>

    <hr/>

    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <input class="button is-link" type="submit" value="Log In"/>
      </div>
    </div>
  </form>
</div>
