<div class="header">
  {{> logo }}
  <h1>Mothership</h1>
</div>

<div class="box">
  <form action="/login" method="post">
    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left">
        <input class="input is-medium" type="text" name="username" autofocus/>
        <span class="icon is-left">
          <i class="fa fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left">
        <input class="input is-medium" type="password" name="password"/>
        <span class="icon is-left">
          <i class="fa fa-lock"></i>
        </span>
      </div>
    </div>

    <hr/>

    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <input class="button is-primary" type="submit" value="Log In"/>
      </div>
    </div>
  </form>
</div>
