<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <div class="container">
        <div class="tabs is-boxed">
          <ul>
            <li class="is-active">
              <a>
                <!--
                <span class="icon is-small">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </span>
                -->
                <span>Apps</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        {{{body}}}
      </div>
    </section>
  </body>
</html>
