body {
  display: flex;
  background: #f1f2f6;
}

.main-section {
  flex: 1;
  padding-top: 2rem;
}

nav.main-nav {
  margin: 0;
  min-width: 225px;
  border-right: 1px solid #e9eaeb;
  background: #fff;
}

nav.main-nav .logo {
  text-align: center;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

nav.main-nav li {
  margin: 8px;
}

nav.main-nav li a {
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #777;
}

nav.main-nav li.is-active a {
  background: #e0ecfe;
  color: #3273dc;
}

nav.main-nav li svg {
  margin-right: 8px;
  color: currentColor;
  width: 18px;
}

details summary {
  font-weight: bold;
  display: flex;
  align-items: center;
}

details[open] summary {
  margin-bottom: 1rem;
}
