html,
body
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;

table.table td,
table.table th
  vertical-align: middle;

table.table td
  border-color: #e9eaeb;

.box
  box-shadow: none;
  border: 1px solid #e9eaeb;

nav
  margin-top: 16px;

nav ul li
  margin-left: 8px;

.message
  margin: 16px 0;

.terminal
  background: #222
  font-family: 'Fira Code', Menlo, monospace
  color: #fff
  height: 15rem
  overflow: auto
  font-size: 16px

details summary
  font-weight: bold

details[open] summary
  margin-bottom: 1rem

.build-terminal-complete
  background: #e8f5e9
  border-color: #66bb6a
  box-shadow: 0 0 0 1px #66bb6a
  color: #1a651d
        
