<div class="columns">
  <div class="column is-half">

    <div class="box">

      <form method="POST" action="/users">
        <h1 class="subtitle">Add New User</h1>
        {{> user-form submitText="Add User" }}
      </form>

    </div>
  </div>
</div>
