<div class="columns is-centered">
  <div class="column is-half">
    <% if notice %>
      <article class="message is-success">
        <div class="message-body">
          <%= notice %>
        </div>
      </article>
    <% end %>

    <div class="box">
      <h1 class="subtitle">Edit App</h1>

      <%= render 'form', app: @app %>
      <br/>
      or <%= link_to 'Go back', apps_path %>
    </div>
  </div>
</div>
